$orange-extia: #ef6b00;

@font-face {
    font-family: norwester;
    src: url(../fonts/norwester.otf);
}
@font-face {
    font-family: quicksand;
    src: url(../fonts/Quicksand-Regular.otf);
}

body {
	background: url('../img/background.png');
}
.navbar {
	border: 0 !important;
	z-index: 1;
}
.login-panel {
    margin-top: 35%;
}
/*
	LOGO
*/
.logo-1 {
	font-family: Roboto;
	font-size: 20px;
	color: #000;
}
.logo-2 {
	color: $orange-extia;
	font-family: Roboto;
	font-weight: bold;
	font-size: 21px;
	letter-spacing: 2px;
}
.logo-3 {
	font-weight: bold;
	font-family: norwester;
	color: #000;
}
.logo-4 {
	color: $orange-extia;
	font-family: quicksand;
	font-weight: bold;
	font-size: 21px;
}
/*
	SIDEBAR
*/
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
}
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
	color: $orange-extia;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: $orange-extia;
}
/*
	ADMIN
*/
.main {
    padding: 20px 40px;
    .page-header {
		margin-top: 0;
	}
}
.admin-content {
	background: #fff;
	display: block;
	min-height: 250px;
	overflow: hidden;
	padding: 20px 30px;
}
/*
	FOOTER
*/
#footer {
	position: fixed;
	bottom:0;
    left:0;
    right:0;
    margin:0;
}
.by-extia {
	text-align: right;
}
/* 
	CUSTOM BUTTONS 
*/
.btn-extia {
	color: #fff;
	background-color: $orange-extia;
	border-color: #db5f00
}
.btn-extia.focus, .btn-extia:focus {
	color: #fff;
	background-color: #d3610a;
	border-color: $orange-extia
}
.btn-extia:hover {
	color: #fff; 
	background-color: #d3610a;
	border-color: #d66426
}
.btn-extia.active, .btn-extia:active, .open>.dropdown-toggle.btn-extia {
	color: #fff;
	background-color: #d3610a;
	border-color: #d66426
}
.btn-extia.active.focus, .btn-extia.active:focus, .btn-extia.active:hover, .btn-extia:active.focus, .btn-extia:active:focus, .btn-extia:active:hover, .open>.dropdown-toggle.btn-extia.focus, .open>.dropdown-toggle.btn-extia:focus, .open>.dropdown-toggle.btn-extia:hover {
	color: #fff;
	background-color: #d66426;
	border-color: $orange-extia
}
.btn-extia.active, .btn-extia:active, .open>.dropdown-toggle.btn-extia {
	background-image:none
}
.btn-extia.disabled, .btn-extia.disabled.active, .btn-extia.disabled.focus, .btn-extia.disabled:active, .btn-extia.disabled:focus, .btn-extia.disabled:hover, .btn-extia[disabled], .btn-extia[disabled].active, .btn-extia[disabled].focus, .btn-extia[disabled]:active, .btn-extia[disabled]:focus, .btn-extia[disabled]:hover, fieldset[disabled] .btn-extia, fieldset[disabled] .btn-extia.active, fieldset[disabled] .btn-extia.focus, fieldset[disabled] .btn-extia:active, fieldset[disabled] .btn-extia:focus, fieldset[disabled] .btn-extia:hover {
	background-color: $orange-extia;
	border-color:#db5f00
}
.btn-extia .badge {
	color: $orange-extia;
	background-color: #fff
}
.btn-info{
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da
}
.btn-info.focus, .btn-info:focus {
	color: #fff;
	background-color: #31b0d5;
	border-color: #1b6d85
}
/*
	OVERWRITE BOOTSTRAP
*/
.alert {
	position: absolute;
	width: 500px;
	margin: 0 auto;
	left: 0;
	right: 0;
}